<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zadi.zadi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <service android:name=".firebaseService.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".GPS.GPSTracker">
            <intent-filter android:label="service">
                <action android:name="GPS.GPSTracker" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f43953b1019e3c8de2f70b9ae3c04bfde9d17e6d" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCUIF4_Q6nv3u4kigd6Ozm0oOFBu_J2Q8M" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectLang.SelectLanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mapViews.MapsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".MarketDetails.MarketActivity"></activity>
    </application>

</manifest>